flows.json
[{"id":"3eca1fe4.2ae29","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1bb0e41d.e14b8c","type":"ibmiot in","z":"3eca1fe4.2ae29","authentication":"apiKey","apiKey":"db486ea1.8fb72","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"data","format":"json","name":"IBM IoT In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":true,"allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":100,"y":160,"wires":[["7336c501.fa2a3c","2ce2c650.72ddea","b89484bd.3590f8"]]},{"id":"7336c501.fa2a3c","type":"function","z":"3eca1fe4.2ae29","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["943d33b2.fa12"]]},{"id":"2ce2c650.72ddea","type":"function","z":"3eca1fe4.2ae29","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["bb2736c5.20f898"]]},{"id":"943d33b2.fa12","type":"ui_gauge","z":"3eca1fe4.2ae29","name":"","group":"b2c44922.8a39e8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"0","max":"100","colors":["#240fc2","#cf6017","#f03000"],"seg1":"","seg2":"","x":670,"y":80,"wires":[]},{"id":"defb93e8.e34","type":"ibmiot out","z":"3eca1fe4.2ae29","authentication":"apiKey","apiKey":"db486ea1.8fb72","outputType":"cmd","deviceId":"motor_device","deviceType":"nodemcu_out","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":420,"wires":[]},{"id":"a81aff1c.f3ecd","type":"ui_button","z":"3eca1fe4.2ae29","name":"","group":"12b5d3d.2e6572c","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":160,"y":500,"wires":[["defb93e8.e34"]]},{"id":"5bade57d.4a5f2c","type":"http request","z":"3eca1fe4.2ae29","name":"Weather","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Meerut,IN&units=metric&appid=768f44a36933b58004af0a957bd9a6f0","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":800,"wires":[["faf31132.3d05e","dd58195b.51eeb8"]]},{"id":"faee127b.54261","type":"inject","z":"3eca1fe4.2ae29","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":800,"wires":[["5bade57d.4a5f2c"]]},{"id":"dd58195b.51eeb8","type":"function","z":"3eca1fe4.2ae29","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":720,"wires":[["a03faec0.e8be4"]]},{"id":"faf31132.3d05e","type":"function","z":"3eca1fe4.2ae29","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":900,"wires":[["1b705b13.76ae55"]]},{"id":"a03faec0.e8be4","type":"ui_gauge","z":"3eca1fe4.2ae29","name":"","group":"8e4457c2.a56a08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":720,"wires":[]},{"id":"fb96c529.cfa738","type":"ui_button","z":"3eca1fe4.2ae29","name":"","group":"12b5d3d.2e6572c","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":150,"y":360,"wires":[["defb93e8.e34"]]},{"id":"b89484bd.3590f8","type":"function","z":"3eca1fe4.2ae29","name":"Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["5cb1035b.2e933c"]]},{"id":"5cb1035b.2e933c","type":"ui_gauge","z":"3eca1fe4.2ae29","name":"Soil Moisture","group":"1ea0da4e.fe12c6","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"1b705b13.76ae55","type":"ui_gauge","z":"3eca1fe4.2ae29","name":"","group":"8e4457c2.a56a08","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":900,"wires":[]},{"id":"bb2736c5.20f898","type":"ui_gauge","z":"3eca1fe4.2ae29","name":"","group":"fdc99ae5.23b508","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"db486ea1.8fb72","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b2c44922.8a39e8","type":"ui_group","z":"","name":"Temperature","tab":"b1a1ceca.e0b5a","order":1,"disp":true,"width":"9","collapse":false},{"id":"12b5d3d.2e6572c","type":"ui_group","z":"","name":"Motor On-Off","tab":"b4a49d3f.bc136","order":1,"disp":true,"width":"10","collapse":false},{"id":"8e4457c2.a56a08","type":"ui_group","z":"","name":"Weather","tab":"7d114422.1b667c","order":1,"disp":true,"width":"10","collapse":false},{"id":"1ea0da4e.fe12c6","type":"ui_group","z":"","name":"Moisture","tab":"b1a1ceca.e0b5a","order":3,"disp":true,"width":"9","collapse":false},{"id":"fdc99ae5.23b508","type":"ui_group","z":"","name":"Humidity","tab":"b1a1ceca.e0b5a","order":2,"disp":true,"width":"9","collapse":false},{"id":"b1a1ceca.e0b5a","type":"ui_tab","z":"","name":"Smart Agriculture Home ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b4a49d3f.bc136","type":"ui_tab","z":"","name":"Motor","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7d114422.1b667c","type":"ui_tab","z":"","name":"OpenWeather","icon":"dashboard","order":2,"disabled":false,"hidden":false}]